<!DOCTYPE html>

<html>
    <head>
        <title>Products</title>
    </head>

    <body>
        <h1>Product listing page</h1>

        {% if products %}
            <ul>
                {% for product in products %}
                <li>
                    <a href="/listing/product/{{ product.url }}"><h4>{{ product.title }}</h4> </a>

                    <img src="media/{{product.image}}" height="100" width="100"/> <br> 
                    Price : {{ product.price }}<br>
                    Description: {{ product.description }}<br>
                    Time : {{ product.time }}
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no products present.</strong>
        {% endif %}

    
    </body>
</html>