<!DOCTYPE html>
<html>
    <head>
        <title>product</title>
    </head>

    <body>
        {% if product %}
            <h2>{{ product.title }}</h2> 

                    <img src="media/{{product.image}}" height="100" width="100"/> <br> 
                    Price : {{ product.price }}<br>
                    Description: {{ product.description }}<br>
                    Time : {{ product.time }}<br>
                    
                    Posted by:<br>
                    Name: {{product.owner.name}}<br>
                    Email: {{product.owner.email}}
            {% endif %} 
      
    </body>
</html>